.instagram-story-screen {
	height: calc(100% - ($notch-height / 2));
	background-color: black;

	&__content {
		height: calc(100% - $notch-height);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin: 0 10px 0 10px;
		border-radius: 10px;
		padding: 10px;
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__time-line {
		width: 100%;
		height: 2px;
		background-color: white;
		padding: 0 5px;
		border-radius: 2px;
	}

	&__header-body {
		display: flex;
		justify-content: space-between;
	}

	&__header-user-data {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	&__user-image {
		height: 25px;
		width: 25px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
	}

	&__user-name {
		color: white;
	}
}