.instagram {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: black;
	height: calc(100% - ($notch-height / 2));
	color: white;

	&__stories-slider {
		padding-top: 3px !important;
		padding-left: 25px !important;
	}

	&__posts-slider {
		max-height: 377px;
	}

	&__page-wrapper {
		padding-top: 7px;
		height: 445px;
		gap: 15px;
		display: flex;
		flex-direction: column;
	}
}